body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 2;
  position: relative;
}

/* First Section */
.first-section {
  background-color: #3f3f3f;
  height: 95%;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
  min-width: 140px;
}

.profile-image {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50px;
  margin-top: 10px;
}

.first-section h3 {
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
  margin: 10px 0 5px 0;
}

.first-section p {
  color: white;
  font-size: 10px;
  margin: 0;
}

.first-section ul {
  list-style-type: none;
  padding: 0;
  margin-top: 35px;
  text-align: left;
}

.first-section ul li {
  margin-bottom: 40px;
  font-size: 15px;
  display: inline-block;
  width: 142px;
  height: 30px;
  padding: 12px 0px 3px 0px;
}

.first-section ul li i {
  margin-right: 7px;
  margin-left: 26px;
}

.first-section ul li:hover {
  cursor: pointer;
}

.selected-menu-item {
  color: #3f3f3f;
  background-color: white;
  border-left: 5px solid #6f6f6f;
}

.unselected-menu-item {
  color: white;
  border-left: none;
  border-right: none;
}

/* Second Section */
.second-section {
  flex: 16;
}

.menu-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-content img {
  width: 100%;
  height: 350px;
}

.menu-content div {
  flex: 1;
  margin: 0 8px;
}

.menu-content h1 {
  font-size: 30px;
  line-height: 30px;
  color: #3f3f3f;
}

.menu-content h4 {
  font-size: 17px;
  line-height: 20px;
  background-color: #3f3f3f;
  display: inline;
  color: white;
  padding: 0 5px 2px 5px;
  margin: 0;
}

.menu-content p {
  font-size: 15px;
  line-height: 17px;
  padding: 0 0 0 10px;
  color: #5f5f5f;
  text-align: justify;
}

.left-border {
  border-left: 5px solid #3f3f3f;
}

.none-display {
  display: none;
}

.education-content ul {
  list-style-type: none;
  display: grid;
  gap: 30px 0;
  padding: 0;
  margin: 0;
  width: 5px;
}

.education-content ul li {
  width: 3px;
  height: 3px;
  border-radius: 2px;
  position: relative;
  margin: 0;
  padding: 0;
}

.education-content ul li:last-child {
  background-color: #3f3f3f;
  border: 1px solid #3f3f3f;
}

.education-content ul li:first-child {
  background-color: white;
  border: 1px solid #3f3f3f;
}

.education-content ul li:first-child:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 32px;
  top: 2px;
  left: 1px;
  margin-left: 0;
  background-color: #3f3f3f;
  z-index: -1;
}

.education-content-2 {
  display: flex;
  align-items: center;
}

.education-content-2 div {
  padding: 0;
  margin: 0;
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3-alt {
  color: #264de4;
}

.fa-js {
  color: #f0db4f;
}

.fa-git-alt {
  color: #f34f29;
}

.skills-content i {
  padding: 0 5px 0 0;
}

.skills-content p {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  border-radius: 3px;
  color: white;
  background-color: #3f3f3f;
  margin: 4px 2px;
}

.works-content a {
  text-decoration: none;
  color: black;
}

/* Third Section */
.third-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4px 0 0;
  max-width: 45px;
}

.third-section a {
  font-size: 40px;
  text-decoration: none;
}

.third-section a {
  color: #3f3f3f;
  border: none;
}

.third-section a i {
  border: none;
}

.fa-square-github:hover {
  cursor: pointer;
  color: #171515;
  font-size: 45px;
  transition: 0.5s;
}

.fa-square-twitter:hover {
  cursor: pointer;
  color: #1da1f2;
  font-size: 45px;
  transition: 0.5s;
}

.fa-square-whatsapp:hover {
  cursor: pointer;
  color: #4fce5d;
  font-size: 45px;
  transition: 0.5s;
}

/* Responsive */
/* Max Width 830px */
@media screen and (max-width: 830px) {
  /* First Section */
  .first-section {
    background-color: #3f3f3f;
    height: 95%;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    min-width: 140px;
  }

  /* Second Section */
  .second-section {
    flex: 16;
  }

  .menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-content img {
    width: 400px;
    height: 280px;
  }

  .menu-content div {
    flex: unset;
    margin: 8px 8px;
    text-align: center;
  }

  .none-display {
    display: none;
  }

  /* Third Section */
  .fa-square-github:hover {
    font-size: 40px;
    transition: 0.5s;
  }

  .fa-square-twitter:hover {
    font-size: 40px;
    transition: 0.5s;
  }

  .fa-square-whatsapp:hover {
    font-size: 40px;
    transition: 0.5s;
  }
}

/* Max Width 600px */
@media screen and (max-width: 600px) {
  .resume {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* First Section */
  .first-section {
    background-color: #3f3f3f;
    border-radius: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: unset;
    width: 100%;
    max-height: 193px;
    position: sticky;
    top: 0;
    z-index: 3;
  }

  .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }

  .first-section ul {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 15px 8px 0px 8px;
    padding: 0;
    width: 100%;
  }

  .first-section ul li {
    margin: 0;
    font-size: 15px;
    display: inline-block;
    height: 30px;
    padding: 9px 0 0 0;
    flex: 1;
    gap: 0 0;
    min-width: calc((100% - 20px) / 4);
    max-width: calc((100% - 20px) / 4);
  }

  .first-section ul li:not(:last-child) {
    margin-right: 1px;
  }

  .first-section ul li i {
    margin-right: 3px;
    margin-left: 0;
  }

  .selected-menu-item {
    border-top: 3px solid #6f6f6f;
    border-left: none;
    border-radius: 5px 5px 0 0;
  }

  .unselected-menu-item {
    color: white;
    border-left: none;
    border-right: none;
  }

  /* Third Section */
  .third-section {
    flex: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 0;
    max-width: unset;
    width: 100%;
    height: 65px;
    background-color: #3f3f3f;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 3;
  }

  .third-section a {
    flex: 1;
    color: white;
    border: none;
    text-align: center;
    font-size: 28px;
  }

  .fa-github:hover {
    cursor: pointer;
    color: #171515;
    font-size: 33px;
    transition: 0.5s;
  }

  .fa-twitter:hover {
    cursor: pointer;
    color: #1da1f2;
    font-size: 33px;
    transition: 0.5s;
  }

  .fa-whatsapp:hover {
    cursor: pointer;
    color: #4fce5d;
    font-size: 33px;
    transition: 0.5s;
  }
}
